body{
    background:#F9F9F9;
    font-family: Serif;
    font-size: 14px;
}

.box{
    width:600px;
    height:300px;
    position:absolute;
    top:30%;
    left:50%;
    margin-left:-300px;
    margin-top:-150px;
    background:#FFF;
}

.img_box{
    width:600px;
    height:600px;
    position:absolute;
    top:40%;
    left:50%;
    margin-left:-300px;
    margin-top:-300px;
    background:#FFF;
}

.input{
    background:#73AD21;
    color:#FFF;
    border: none;
    padding: 4px 8px;
    width:400px;
    margin-left:100px;
    margin-bottom:10px
}

.input:hover {
    background: #2E8B57;
}

.main{
    position: static;
    border: 3px solid #73AD21;
    padding: 4px 8px;
    margin-bottom:20px;
    line-height: 40px
}

.upload{
    background:#f1f1f1;
    color:#000000;
    border: #F9F9F9 1px solid;
    display:inline-block;
    height:20px;
    line-height:20px;
    text-decoration:none;
    overflow:hidden;

}


.upload input{
  opacity: 0;
  filter: alpha(opacity=0);
  cursor:pointer;
  position:relative;
  top:0px;
  left:-120px;
}

.upload:hover {
    background:none ;
    border:#00BBFF 1px solid;
}

.upload_w{
  margin-left:100px;
}
.word{
    font-size:24px;
    font-weight:bold;
}
a {
    text-decoration: none;
    width:400px;
    background:#73AD21;
    display:inline-block;
    text-align:center;
    margin-top:150px;
}
