<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static',filename ='css/main.css') }}" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="img_box">
    <h1 align="center">WATERMARK IMAGE</h1>
    <div class="main">
        <img src="{{ url_for('static',filename =img_name) }}" width="600" height="360"/>
    </div>
        <form action="/download" method="get">
        <input name="img" hidden="hidden" type="text" value="{{img_name}}"/>
        <input value="download" type="submit" class="input" />
    </form>
</div>
</body>
</html>