<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename ='css/main.css') }}" type="text/css" rel="stylesheet" />
    <title>Title</title>
</head>

<body>
<div class="box">
    <h1 align="center">IMAGE ADD WATERMARK</h1>
    <div class="box_form" >
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="main">
                <span>
                    <span class="word">image:</span>
                    <span class="upload">
                        <span class="upload_w">upload the image</span>
                        <input name="fileName" type="file" align="center"/>
                    </span>
                </span>
                </br>
                <span class="word">text:</span><input name="text" type="text" size="60"></br>
                <span class="word">color:</span><input name="color"  type="text" size="58" placeholder="chocie one color [white, blue, red, orange, yellow, green, black]"></br>
            </div>
            <div class="submit">
                <input type="submit" value="submit" class="input"  align="center"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>